body {
    margin: 0;
    font: normal 14px Helvetica, Arial, sans-serif;
}

#menu{
    width: 100%;
    margin: 0;
    padding: 0 8px;
    position: fixed;
    background: #0ac;
    line-height: 40px;
    box-shadow: 0 1px 3px #000;
}

#menu li {
    display: inline-block;
    text-align: center;
    padding: 0 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

#menu li:hover {
    background: rgba(255, 255, 255, .3);
}

#content {
    padding: 52px 8px 8px 8px;
}

#content table {
    width: 100%;
    border-collapse: collapse;
}

#content thead th {
    background: #6bc;
    color: #fff;
    height: 1.6em;
}

#content tbody td {
    border-bottom: 1px solid #0ac;
}

#content tbody tr:nth-child(even) {
    background: #f2f2f2;
}

.paramList {
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 2;
}